version: '3'

services:

  nginx:
    volumes:
      - ./code/public:/var/www/html/public
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
      - ./docker/nginx/logs:/var/log/nginx
    ports:
      - "80:80"

  php-fpm:
    ports:
      - '9000:9000'
    volumes:
      - ./code:/var/www/html
      - ./xdebug:/tmp/xdebug

  mariadb:
    ports:
      - '3306:3306'
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./docker/mariadb/conf.d:/etc/mysql/conf.d
      - ./docker/mariadb/logs:/var/log/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password

  webgrind:
    ports:
      - "8080:8080"
    volumes:
      - ./xdebug:/tmp/xdebug
